* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background: url("../images/water0.png");
}